<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    
    <div id="app">
      <header-el  class="header header-primary" /> 
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const app = Vue.createApp({

        })

        app.component('header-el', {
            template: `
                <header>
                    <logo logo="MyLogo" />
                    <list-items />
                </header>
            ` ,
            components:['logo', 'list-items'],
        })

        app.component('logo',{
            template:`
                <div class="header__logo"> 
                    <h1>
                        {{logo}}
                    </h1>
                    <h1>
                        {{logo}}
                    </h1>
                </div> 
            `,
            props:['logo']
        })

        app.component('list-items', {
            template: `
            <ul>
                <list-item itemtitle="about">
                <list-item itemtitle="About">
                <list-item itemtitle="Services">
            </ul>
            `,
            components:['list-item']
        })
        app.component('list-item', {
            template:`<li>{{itemtitle}}</li>`,
            props:['itemtitle']
        })
        app.mount('#app')
    </script>
</body>
</html>